@import "rsuite/dist/rsuite.css";

* a:hover {
  text-decoration: none;
  color: initial;
}

body {
  background: var(--theme2-bg);
  /* background: var(--bg-gray); */
  padding: 0px;
  margin: 0px;
  table-layout: fixed;
}

.nav-logo {
  display: block;
  width: 35px;
  max-width: 50px;
  margin: 0 auto;
  cursor: context-menu;
  margin-top: 5px;
}

.brand-branch-name {
  text-align: center;
  margin: 0 auto;
  color: var(--text-gray);
  margin-top: 10px;
  font-family: var(--logo-font);
  /* margin-left: 15px; */
  padding: 0;
  overflow: hidden;
  cursor: context-menu;
}

.main-nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--top-nav-height));
  /* border: 1px solid red; */
}

.main-nav>nav {
  padding: 0px;
  border: 2px solid #dee0e1;
  background-color: var(--bg-white--darken-1);
  margin-left: -1px;
  border-right: 0px solid #dee0e159;
  border-top-width: 1px;
}

.top-nav {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 3px 6px #0000000a;
  box-shadow: 0px 6px 14px 0px #0000003d;
  box-shadow: 0px 1px 20px 0px #1f1e1e45;
  /* border: 1px solid #dee0e1!important; */
  height: var(--top-nav-height);
  background: var(--bg-white);
  /* background: var(--theme2-bg); */
  justify-content: space-between;
  padding: 0px 0px;
  padding-right: 5px;
  color: var(--text-gray-light);
  z-index: 999;
  overflow: hidden;
}

.logo-name {
  font-size: 2em;
  color: #43a047;
  display: inline-flex;
  margin-top: 16px;
  font-family: var(--logo-font);
  margin-left: 1px;
}

.logo-name:hover {
  color: #43a047;
  text-decoration: none;
}

main {
  display: flex;
  min-height: calc(99vh - var(--top-nav-height));
  flex-direction: column;
  /* min-height: fit-content; */
  margin: 0px;
  margin-top: var(--top-nav-height);
  padding: 0px;
  padding-top: 10px;
  /* border: 1px solid red; */
  margin-left: calc(4px + var(--main-nav-width));
  width: calc(100vw - (4px + var(--main-nav-width)));
}

.panel {
  margin: 0 auto;
  text-align: center;
  min-width: 95%;
}

/* OVERIDES */

.rs-sidenav-nav>.rs-sidenav-item,
.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle {
  /* width: 100%; */
  border-bottom: 1px solid var(--border-gray);
  /* padding: 10px 0; */
  height: min-content;
  cursor: pointer;
  /* padding-left: 5px; */
  border-right: 0 solid transparent;
  max-height: 40px;
  align-items: center;
  align-content: center;
  /* overflow: hidden; */
  background-color: #fff;
  font-size: 13px;
}

.rs-sidenav-default {
  background-color: #fff;
}

.rs-dropdown li,
.rs-dropdown-menu li {
  margin-left: -20px;
}
.rs-loader-wrapper {
  z-index: 999;
}

.swal2-styled.swal2-confirm {
  background-color: #43a047 !important;
  background: #43a047 !important;
}

/* MSC */

.bg-white {
  background: #fff;
}

.hr{
  margin-top: 0;
  margin-bottom: 5px;
}

/* SCROLL BAR */

*::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: hsla(0, 0%, 96%, 0.63);
  margin-bottom: 1px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(245, 245, 245, 0.068);
  margin-bottom: 1px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(4, 196, 106, 0.855);
  margin-bottom: 1px;
}