:root {
  --text-gray-dark: #333;
  --text-gray-dark-dim: #333;
  --text-gray: #666;
  --text-gray-light: #949494;
  --text-gray-ultralight: #ddd;
  --text-white: #fff;
  --text-blue-dark: #2b6dad;
  --text-blue: #329bff;
  --text-green: #49bb88;
  --green-2: #13b854;
  --text-red: #b92b27;
  --text-yellow: #cbbc0c;
  --bg-gray-dark: #949494;
  --bg-gray: #e6e6e6;
  --bg-gray-ultralight: #fafafa;
  --bg-white: #fff;
  --bg-white-transparent: rgba(255,255,255,0.6);
  --bg-white-transparent-light: rgba(255,255,255,0.95);
  --bg-blue: #329bff;
  --bg-blue-light: #dfeffa;
  --bg-blue-ultralight: #edf1f5;
  --bg-green: #49bb88;
  --bg-red: #b92b27;
  --bg-raised: #fff;
  --border-gray-dark: #ccc;
  --border-gray: #e2e2e2;
  --border-white: #fff;
  --border-blue: #329bff;
  --border-green: #49bb88;
  --border-red: #b92b27;
  --bg-white--fade-90: rgba(255,255,255,0.9);
  --bg-white--fade-85: rgba(255,255,255,0.85);
  --bg-white--fade-60: rgba(255,255,255,0.6);
  --bg-white--fade-40: rgba(255,255,255,0.4);
  --bg-white--fade-0: rgba(255,255,255,0);
  --bg-white--darken-1: #fcfcfc;
  --bg-white--darken-3: #f7f7f7;
  --bg-gray--lighten-2: #ebebeb;
  --bg-gray--lighten-5: #f3f3f3;
  --bg-gray-ultralight--fade-50: rgba(250,250,250,0.5);
  --bg-gray-ultralight--fade-1: rgba(250,250,250,0.01);
  --bg-gray-ultralight--darken-2: #f5f5f5;
  --bg-gray-ultralight--darken-5: #ededed;
  --bg-blue--darken-4: #1e91ff;
  --bg-blue--lighten-5: #4ca7ff;
  --bg-blue-light--fade-90: rgba(223,239,250,0.9);
  --bg-blue-light--fade-0: rgba(223,239,250,0);
  --bg-blue-light--lighten-5: #f5fafd;
  --bg-blue-ultralight--darken-3: #e3e9f0;
  --bg-red--darken-4: #a82723;
  --bg-gray-dark--darken-25: #545454;
  --top-nav-height: 40px;
  --main-nav-width: 200px;
  --main-nav-width-min: 65px;
  --data-entry-menu-height: 160px;
  --theme2-bg: #e9e8e8;
  --logo-font: 'Baloo Tammudu 2', "arial", cursive, arial, cambria, 'Courier New', Courier, monospace;
  --orange-2: #ff4500;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(40, 40, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
